<div class="container mt-3">
  <div class="row">
    <h3>APLICACION DE CITAS</h3>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">        
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha">
          </div>
          <div class="form-group">
            <label for="hora">Hora</label>
            <input type="time" class="form-control" id="hora">
          </div>                   
          <div class="form-group">
            <label for="sintoma">Sintomas</label>
            <textarea class="form-control" id="sintoma" rows="3"></textarea>
          </div>
          <button class="btn btn-block">Guardar</button>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        Card para la cita
      </div>
    </div>
  </div>
</div>