<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
   esto es un navbar con contenido
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Legajo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Sexo</th>
      <th scope="col">Salario</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Juan</td>
      <td>Perez</td>
      <td>Masculino</td>
      <td>$25,000.00</td>
    </tr>    
  </tbody>
</table>